[submodule "lib/bcdec"]
	path = lib/bcdec
	url = https://github.com/neptuwunium/bcdec.git
[submodule "lib/Binary-Reader"]
	path = lib/Binary-Reader
	url = https://github.com/Puxtril/Binary-Reader.git
[submodule "lib/astc"]
	path = lib/astc
	url = https://github.com/ARM-software/astc-encoder
[submodule "lib/etc"]
	path = lib/etc
	url = https://github.com/Ericsson/ETCPACK/
